<h1>{{jeu.titre}}</h1>
<p>{{jeu.description}}</p>
<p>Date de sortie : {{jeu.dateSortie}}</p>
<p>Genre : {{jeu.genre.nom}}</p>
<p>Editeur : {{jeu.editeur.nom}}</p>
<a href="/jeux/{{jeu.id}}/edit">Modifier</a>
